.formInput {
    padding: 2px;
    margin: 5px 5px;
    border-color: #007bff;
    border-radius: .25rem;
    height: 39px;
    width: 430px;
    bottom: 3px;
}

.button {
    position: absolute;
    bottom: 5px;
    left: 450px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    border: 2px solid #007bff;
    background: #007bff;
    color: antiquewhite;
}

.buttonDisabled {
    position: absolute;
    bottom: 5px;
    left: 450px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    border: 2px solid #989bff;
    background: #989bff;
    color: #b6b9b1;
}

.button:hover {
    background: #0549ff;
    border: 2px solid #0549ff;
    transition: 0.5s;
}

.errorContainer {
    background: #A66800;
    width: 100%;
    position: relative;
}

.error {
    background: #7f4395;
}

.clear {
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 4px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    border-radius: .25rem;
    border: 2px solid #ff0f00;
    background: #ff0f00;
    color: antiquewhite;
    height: 40px;
    width: 100px;
    font-size: 13px;
    padding-top: 0px;
}

.clear:hover {
    background: #7d0c00;
    border: 2px solid #7d0c00;
    transition: 0.5s;
}

.formContainer {
    display: flex;
    position: relative;
}




