.container {
    display: flex;
    background: #d4d5ff;
    justify-content: space-between;
    border-bottom: 2px solid #155724;
    padding-left: 15px;
}

.buttImport {
    width: 53px;
    margin-left: 7px;
    height: 43px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    border: 2px solid #FFA500;
    background: #FFA500;
    color: antiquewhite;
    position: relative;
}

.buttImport img {
    height: 37px;
    position: absolute;
    top: 1px;
    left: 7px;
}

.buttImport:hover {
    background: #A66800;
    border: 2px solid #A66800;
    transition: 0.5s;
}

.buttons {
    float: right;
    margin: 2px 5px 2px 0px;
}

.btn-primary {
    width: 100px;
}


.done {
    cursor: pointer;
    text-decoration: line-through;
    vertical-align: middle;
    padding-top: 9px;
    font-size: 12pt;
}

.notDone {
    cursor: pointer;
    padding-top: 9px;
    font-size: 12pt;
}

.important {
    font-weight: bold;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.important span {
    font-weight: bold;
    font-size: 12pt;
    width: 100%;
    position: absolute;
}

.deleteNote {
    display: inline;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border-radius: .25rem;
    border: 2px solid #ff0f00;
    background: #ff0f00;
    color: antiquewhite;
}

.deleteNote img {
    width: 37px;
}

.deleteNote:hover {
    background: #9a0c00;
    border: 2px solid #9b0f00;
    transition: 0.5s;
}


.editNote {
    display: inline;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border-radius: .25rem;
    border: 2px solid #1ac709;
    background: #1ac709;
    color: antiquewhite;
    margin-right: 7px;
}

.editNoteDiv {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    border-radius: .25rem;
    border: 2px solid #0f8305;
    background: #0f8305;
    margin-right: 7px;
    width: 53px;
    height: 41px;
    cursor: pointer;
    margin-top: -2px;
}

.editNote img {
    width: 37px;
}

.editNoteDiv img {
    width: 37px;
}

.editNote:hover {
    background: #059a08;
    border: 2px solid #059a08;
    transition: 0.5s;
}
.editArea input {
    width: 530px;
    height: 34px;
    margin-top: 6px;
    border-radius: 0.25rem;
    border: 2px solid green;
}
